html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: #f7fafc;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

h1 {
  margin: 10;
  font-size: 2rem;
}

.container {
  max-width: 920px;
  margin: 0px auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}


th, td {
  padding: 15px 0px;
  text-align: left;
  border-bottom: 2px solid #000000;
}


.small {
  font-size: 1.25rem;
}

.indented-download {
  margin-top: 10px;
}

.indented-doc {
  margin-top: 10px;
  margin-left: 20px;
}


